# Suport ancient ssh clients
IgnoreUnknown ProxyJump,RemoteCommand

# PB Hosts
Host bolo bolowiki bolo.berkeley.edu
    HostName bolo.berkeley.edu
    User grantlandhall

# Bicep Hosts
Host spud spud.spa.umn.edu
    ForwardX11 yes
    HostName spud.spa.umn.edu

Host bicep0 bicep0.caltech.edu
    HostName bicep0.caltech.edu
    User bicep

Host bicep63
    ProxyJump spud
    Port 6322
    ForwardX11 yes

# $tanfurd
Host smurf-srv03 smurf-srv12
    User cryo
    ForwardX11 yes
    ProxyJump umux

Host umux
    Hostname 171.64.108.89
    User umux

Host basmurf
    Hostname 171.64.109.90
    User badaq
    ForwardX11 yes
    ProxyJump smurf-srv12

Host alihk
    User ali
    ProxyJump umux

# Workstations
Host spudws*
    ProxyJump spud

Host baws*
    ProxyJump omega0

# At pole
Host omega0 omega0.usap.gov
    HostName omega0.usap.gov
    ProxyJump spud

Host wvr1
    ProxyJump omega0
    User dbarkats
    ForwardX11 yes

Host signalhound*
    ProxyJump omega0
    User keck

Host bicep31 bicep32
    ProxyJump bicep30
    ForwardX11 yes
    User bicep

Host bicep30
    HostName bicep.usap.gov
    ProxyJump omega0
    ForwardX11 yes
    User bicep

Host badaq
    User badaq
    ProxyJump omega0
    ForwardX11 yes

Host baant
    User badaq
    ProxyJump omega0
    ForwardX11 yes

Host mapodaq
    User badaq
    ProxyJump omega0
    ForwardX11 yes

Host bamce*
    User badaq
    ForwardX11 yes
    ProxyJump omega0

# S00perComputers
Host bicep.rc.fas.harvard.edu
    ProxyCommand ssh odyssey -W %h:%p

Host cori cori.nersc.gov
    HostName cori.nersc.gov

Host stampede stampede.tacc.utexas.edu
    HostName stampede.tacc.utexas.edu

Host odyssey holybicep01
    HostName localhost
    ProxyJump spud
    Port 9998
    ForwardX11 yes

# MadScience Hosts
Host hellmouth hellmouth.madscience.institute
    HostName hellmouth.madscience.institute
    User root

# Default username
Host *
    User ghall
    ServerAliveInterval 300
    ServerAliveCountMax 10
    IdentityFile ~/.ssh/id_rsa
    ForwardAgent yes
