# Rescomp Hosts

Host hal
    Hostname hal.rescomp.berkeley.edu

Host stargate
    Hostname stargate.housing.berkeley.edu
    DynamicForward 9001
    ForwardAgent yes

Host resgit
    Hostname git.rescomp.berkeley.edu
    User gitolite3
    IdentityFile ~/.ssh/id_rsa

# PB Hosts
Host ceviche
    HostName ceviche.berkeley.edu

Host nibiru
    HostName nibiru.physics.berkeley.edu

Host bolowiki
    HostName bolowiki.berkeley.edu

Host fiesta
    HostName fiesta.berkeley.edu

Host pbkaos
    HostName pbkaos.physics.berkeley.edu

Host bistec
    HostName bistec.berkeley.edu

Host pbfs
    HostName pbfs.physics.berkeley.edu

Host bolo bolo.berkeley.edu
    HostName bolo.berkeley.edu
    Port 36

Host pbkaos pbkaos.physics.berkeley.edu
    HostName pbkaos.physics.berkeley.edu

Host gordita gordita.physics.berkeley.edu
    HostName gordita.physics.berkeley.edu

Host cilantro cilantro.physics.berkeley.edu
    HostName cilantro.physics.berkeley.edu

# S00perComputers
Host edison edison.nersc.gov
    HostName edison.nersc.gov
    User ghall

Host cori cori.nersc.gov
    HostName cori.nersc.gov
    User ghall

Host babbage babbage.nersc.gov
    HostName babbage.nersc.gov
    User ghall

Host stampede stampede.tacc.utexas.edu
    HostName stampede.tacc.utexas.edu
    User ghall

# MadScience Hosts
Host hellmouth hellmouth.madscience.institute
    HostName hellmouth.madscience.institute
    User root

# Default username
Host *
    User grantlandhall
    ServerAliveInterval 300
    ServerAliveCountMax 10
    IdentityFile ~/.ssh/id_rsa
