# PB Hosts
Host bolo bolowiki bolo.berkeley.edu
    HostName bolo.berkeley.edu
    User grantlandhall

# Bicep Hosts
Host spud find.spa.umn.edu
    HostName find.spa.umn.edu

Host omega1 omega0.spa.umn.edu
    HostName omega0.spa.umn.edu

Host bicep0 bicep0.caltech.edu
    HostName bicep0.caltech.edu
    User bicep

Host badaq1 badaq1.spa.umn.edu
    HostName badaq1.spa.umn.edu

Host badaq
    User badaq
    ProxyJump omega1

Match Host badaq.spa.umn.edu exec "test $(eval ps -ho cmd $PPID | awk '{print $1}') = ssh"
    RequestTTY yes
    RemoteCommand HOME=/home/ghall tmux new-session -A -s grant

Host bamce*
    User badaq
    ForwardX11 yes
    ProxyJump omega1

Host bahk
    User bicep
    ForwardX11 yes
    ProxyJump omega1

# UMN
Host apollo apollo.cselabs.umn.edu
    ForwardX11 yes
    HostName apollo.cselabs.umn.edu

Host atlas atlas.cselabs.umn.edu
    ForwardX11 yes
    HostName atlas.cselabs.umn.edu

# Workstations
Host spudws*
    ProxyJump spud

Host baws*
    ProxyJump omega1

# At pole
Host omega0 omega0.usap.gov
    HostName omega0.usap.gov
    ProxyCommand ssh spud -W %h:%p

Host wvr1
    ProxyCommand ssh omega0 -W %h:%p
    User dbarkats
    ForwardX11 yes

Host signalhound*
    ProxyCommand ssh omega0 -W %h:%p
    User keck

Host bicep31 bicep32
    ProxyCommand ssh bicep30 -W %h:%p
    ForwardX11 yes
    User bicep

Host bicep30
    HostName bicep.usap.gov
    ProxyCommand ssh omega0 -W %h:%p
    ForwardX11 yes
    User bicep

Host keck3*
    ProxyCommand ssh omega0 -W %h:%p

# S00perComputers
Host edison edison.nersc.gov
    HostName edison.nersc.gov

Host cori cori.nersc.gov
    HostName cori.nersc.gov

Host stampede stampede.tacc.utexas.edu
    HostName stampede.tacc.utexas.edu

Host odyssey holybicep01
    HostName holybicep01
    ProxyJump spud_int
    ForwardX11 yes

Host spud_int
    # First proxy to spud, then bind to localhost:9999
    ProxyJump spud
    HostName localhost
    Port 9999

# Run on spud
Host odyssey_login holylogin.rc.fas.harvard.edu
    HostName holylogin.rc.fas.harvard.edu
    LocalForward localhost:9999 holybicep01:22

# MadScience Hosts
Host hellmouth hellmouth.madscience.institute
    HostName hellmouth.madscience.institute
    User root

# Default username
Host *
    User ghall
    ServerAliveInterval 300
    ServerAliveCountMax 10
    IdentityFile ~/.ssh/id_rsa
    ForwardAgent yes
